<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Wondergirls Cover Dance List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="${request.static_url('iyaayoutube:static/css/bootstrap.css')}" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
      }
    </style>
    <link
    href="${request.static_url('iyaayoutube:static/css/bootstrap-responsive.css')}" rel="stylesheet">

    <link href="${request.static_url('iyaayoutube:static/css/slider.css')}" rel="stylesheet">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon"
    href="${request.static_url('iyaayoutube:static/ico/favicon.ico')}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
    href="${request.static_url('iyaayoutube:static/ico/apple-touch-icon-144-precomposed.png')}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
    href="${request.static_url('iyaayoutube:static/ico/apple-touch-icon-114-precomposed.png')}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
    href="${request.static_url('iyaayoutube:static/ico/apple-touch-icon-72-precomposed.png')}">
    <link rel="apple-touch-icon-precomposed"
    href="${request.static_url('iyaayoutube:static/ico/apple-touch-icon-57-precomposed.png')}">

    <script type="text/javascript" charset="utf-8">
        function sure(_id, video_id, nama){
          $(".alert").addClass('hide');
          var route = "http://www.iyaa.com:6540/delete/"+_id;
          var youtube = "http://www.youtube.com/watch?v="+video_id;
          var img = "http://img.youtube.com/vi/"+video_id+"/1.jpg";
          console.log(nama);
          $("#alert_a").attr("href", youtube);
          $("#alert_img").attr("src", img);
          $("#labelName").text(nama+"? ");
          $(".btn-danger").attr("href", route);          
          $(".alert").removeClass('hide');
        }
    </script>
  </head>

  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Iyaa Youtube</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="#">Home</a></li>
              <li><a href="${request.route_url('flashlist')}">Flashmob List</a></li>
              <li class="active"><a href="${request.route_url('coverlist')}">Coverdance List</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    
    <div class="container">

      <h1>${title} User List</h1>
      <div class="alert alert-block alert-error fade in hide">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <h4 class="alert-heading">Really?</h4>
        <p>Are you sure to delete this video from <label id="labelName"
            value="" /></p>
        <p><a id="alert_a" href="#" target="_blank"><img id="alert_img" src="#" /></a></p>
        <p>
          <a class="btn btn-danger" href="#">Take this action</a> <a
            class="btn" 
            href="${request.route_url('coverlist')}">Cancel</a>
        </p>
      </div>
      <table class="table table-striped" border="0">
        <thead>
          <tr>
              <th>#</th>
              <th>Group Name</th>
              <th>Video</th>
              <th>Action</th>
            </tr>
        </thead>
        <tbody>
          % for no, data in enumerate(users):
          <tr>
              <td>${no+1}</td>
              <td>${data['nama']}</td>
              <td><a href="http://www.youtube.com/watch?v=${data['video_id']}"
                  target="_blank"><img
                  src="http://img.youtube.com/vi/${data['video_id']}/1.jpg"
                  alt="thumb" width="120" height="90" /></a></td>
              <%
                id = data['_id']
                video_id = data['video_id']
                name = data['nama']
              %>
              <td><a href="#" onclick="javascript:sure('${id}', '${video_id}',
                  '${name}');"><i
                    class="icon-trash"></i> Delete</a> </td>
          </tr>
          % endfor
          </tbody>
        </table>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="${request.static_url('iyaayoutube:static/js/jquery.js')}"></script>
    <script src="${request.static_url('iyaayoutube:static/js/bootstrap-transition.js')}"></script>
    <script src="${request.static_url('iyaayoutube:static/js/bootstrap-alert.js')}"></script>
    <!-- <script src="${request.static_url('iyaayoutube:static/js/bootstrap-modal.js')}"></script> -->
    <!-- <script src="${request.static_url('iyaayoutube:static/js/bootstrap-dropdown.js')}"></script> -->
    <!-- <script src="${request.static_url('iyaayoutube:static/js/bootstrap-scrollspy.js')}"></script> -->
    <!-- <script src="${request.static_url('iyaayoutube:static/js/bootstrap-tab.js')}"></script> -->
    <!-- <script src="${request.static_url('iyaayoutube:static/js/bootstrap-tooltip.js')}"></script> -->
    <!-- <script src="${request.static_url('iyaayoutube:static/js/bootstrap-popover.js')}"></script> -->
    <script src="${request.static_url('iyaayoutube:static/js/bootstrap-button.js')}"></script>
    <!-- <script src="${request.static_url('iyaayoutube:static/js/bootstrap-collapse.js')}"></script> -->
    <!-- <script src="${request.static_url('iyaayoutube:static/js/bootstrap-carousel.js')}"></script> -->
    <!-- <script src="${request.static_url('iyaayoutube:static/js/bootstrap-typeahead.js')}"></script> -->
    <script src="${request.static_url('iyaayoutube:static/js/easypaginate.js')}"></script>

    <script type="text/javascript">	
		jQuery(function($){
			
			$('ul#items').easyPaginate({
				step:4
			});
			
    });     


    </script>

  </body>
</html>
